.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 0 20px;

  .user-avataar-wrapper {
    width: 90px;
    height: 90px;
    border-radius: 50%;

    .user-image,
    .user-initials {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }

    .user-image {
      object-fit: cover;
    }

    .user-initials {
      background-color: var(--color-bg-profile);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
      color: var(--color-white);
    }
  }

  .name {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
  }
}
