.movie-card {
  border-radius: var(--border-radius-large);
  background-color: var(--color-bg-secondary);
  padding: 10px 10px 16px;
  width: 178px;
  height: 278px;
  cursor: pointer;

  &.selected {
    border: 3px solid var(--color-accent-primary);
  }

  .movie-poster-wrapper {
    height: 188px;
    width: 157px;
    border-radius: var(--border-radius-small);
  }

  .movie-poster {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-small);
  }

  .movie-title {
    margin-top: 12px;
    font-size: 15px;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .movie-actions {
    display: flex;
    align-items: center;
  }
}
