.search-wrapper {
  display: flex;
  align-items: center;
  width: 48px;
  border-radius: var(--border-radius-medium);
  transition: width 0.5s;

  &.expanded {
    padding: 8px 16px;
    background-color: var(--color-bg-navbar);
  }
}

@media (min-width: 0px) {
  .search-wrapper {
    &.expanded {
      min-width: 240px;
      flex: 1;
    }
  }
}

@media (min-width: 600px) {
  .search-wrapper {
    &.expanded {
      min-width: 420px;
    }
  }
}

@media (min-width: 900px) {
  .search-wrapper {
    &.expanded {
      width: 568px;
    }
  }
}
