// .search-wrapper {
//   display: flex;
//   align-items: center;
//   // width: 0;
//   background-color: var(--color-bg-navbar);
//   border-radius: var(--border-radius-medium);
//   padding: 8px 16px;
//   // transition: width 0.5s;

//   &.expanded {
//     width: 568px;
//     border-radius: var(--border-radius-medium);
//   }
// }

.search-wrapper {
  display: flex;
  align-items: center;
  width: 48px;
  border-radius: var(--border-radius-medium);
  transition: width 0.5s;

  &.expanded {
    width: 568px;
    padding: 8px 16px;
    background-color: var(--color-bg-navbar);
  }
}
